<body>
  <br />
  <br />

  <table>
    <tr>
      <td colspan="2">
        <p id="titulo">Administrador: {{ nombre_administrador }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <form [formGroup]="AltaCategoriaGroup" (ngSubmit)="altacategoria()">
          <label>Nombre:</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            required
            formControlName="nombre"
          />
          <!-- dos input de cantidad de adultos y niños -->

          <label>Minutos de expiración: </label>
          <input
            class="inputnumber"
            type="number"
            id="minutosExpiracion"
            name="minutosExpiracion"
            min="1"
            max="10000"
            formControlName="minutosExpiracion"
          />

          <button type="submit" title="Agregar" name="Agregar">Agregar</button>

          <div id="titulo4" *ngIf="msg">
            <label> {{ msg }}</label>
          </div>
        </form>
      </td>

      <td>
        <form [formGroup]="EliminarCategoriaGroup" (ngSubmit)="eliminar()">
          <label>Categorias: </label>
          <select
            name="categorias"
            [(ngModel)]="categoria._id"
            [ngModelOptions]="{ standalone: true }"
          >
            <option
              [ngValue]="item._id"
              *ngFor="let item of categorias"
              [disabled]="item._id == '0'"
            >
              {{ item.nombre }}
            </option>
          </select>

          <button type="submit" title="Eliminar" name="Eliminar">
            Eliminar
          </button>
        </form>
      </td>
    </tr>

    <!--Grid column-->¨
    <tr>
      <td>
        <p>
          <label> Eventos: </label>
          <select
            name="miselect"
            [(ngModel)]="seleccionado"
            (ngModelChange)="desactivaractivarcombo_eventos($event)"
          >
            <option [value]="item" *ngFor="let item of activodesactivo">
              {{ item }}
            </option>
          </select>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <tr>
          <td id="titulo2" colspan="6">Lista de alertas</td>
        </tr>
        <tr>
          <th scope="col" id="titulo1">Usuario creador</th>
          <th scope="col" id="titulo1">Titulo</th>
          <th scope="col" id="titulo1">Categoria</th>
          <th scope="col" id="titulo1">Fecha de publicación</th>
          <th scope="col" id="titulo1">Estado</th>
          <th scope="col" id="titulo1">Acción</th>
        </tr>
        <tbody>
          <tr *ngFor="let evento of eventosaux">
            <td>{{ evento.usuario.user }}</td>
            <td>{{ evento.titulo }}</td>
            <td>{{ evento.categoria.nombre }}</td>
            <td>{{ evento.fechaPublicacion | date: 'dd/MM/yyyy hh:mm' }}</td>
            <td>
              <p *ngIf="!evento.estaActivo">inactivo</p>
              <p *ngIf="evento.estaActivo">activo</p>
            </td>
            <td>
              <button
                *ngIf="checkButtonDesactivar(evento)"
                (click)="desactivarEvento(evento._id)"
              >
                Desactivar
              </button>
            </td>
          </tr>
        </tbody>
        <br />
      </td>

      <td>
        <app-graficasv2 [CantCategoriaEventos]="CantCategoriaEventos">
        </app-graficasv2>
        <br />
        <br />
        <app-graficasv3 [CantEventosxMes]="CantEventosxMes"> </app-graficasv3>
      </td>
    </tr>
  </table>
</body>
